/*
    responsive é necessário para utilizar em diferentes dispositivos e diferentes tamanhos de página
*/
/* quando a largura da pagina for <= a 900 px */
@media(max-width:900px){
    #page-home{
        /*desaparece a imagem de fundo*/ 
        background-position-x: 70vw;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }
    #page-home header a{
        position: absolute;
        bottom:48px;

        left:50%;
        transform: translateX(-50%);
    }
    #page-home main{
        align-items:center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img{
        height: 250px;
    }
    #page-create-point .field-group{
        flex-direction: column;
    }

    #page-create-point .field-group  .field + .field {
        margin-left: 0;
    }

}
/* quando a largura da pagina for >= a 1700 px*/
@media(min-width:1700px){
    #page-home{
        /*desaparece a imagem de fundo*/ 
        background-position-x: 40vw;
    }
}
/* quando a altura da pagina for <= a 760 px */
@media (max-height: 760px){
    #page-home{
        /*desaparece a imagem de fundo*/ 
        background-position-y: 200px;
    }
}